version: '3.5'

services:
  library-db:
    container_name: library-db
    image: "postgres:${POSTGRES_VERSION}"
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    env_file:
      - .env
    networks:
      - library-network
    volumes:
      - library-pg-data:/var/lib/postgresql/data
  
  library-api:
    container_name: library-api
    build: library_back
    networks:
      - library-network
    ports:
      - 5432:5432
    env_file:
      - .env
    depends_on:
      - library-db

  library-web:
    container_name: library-web
    ports:
      - 3000:3000
    env_file: .env
    build: library_front
    volumes:
      - ./library_front:/library_front
  
  # https://www.youtube.com/watch?v=7VAI73roXaY
  nginx:
    container_name: nginx
    restart: always
    image: nginx:1.23.1-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
  
volumes:
  library-pg-data: {}

# Precisa dessa rede?
networks:
  library-network:
    name: library-networks
    driver: bridge
