version: '3.5'

services:
  library-db:
    container_name: library-db
    image: postgres:12.0
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    env_file:
      - .env
    networks:
      - library-network
    volumes:
      - library-pg-data:/var/lib/postgresql/data
  
  library-api:
    networks:
      - library-network
    ports:
      - "${API_PORT}:${API_PORT}"
    env_file:
      - .env
    depends_on:
      - library-db
    container_name: library-api
    build: .

volumes:
  library-pg-data: {}

networks:
  library-network:
    name: library-networks
    driver: bridge